.radical{
    width: 100vw;
    height: 100%;
    padding: 10px;
  }

.board{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.arrow{
  width: 85%;
}