.Card{
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border: solid 2px white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 5px;
    padding: 5px;
    width: 250px;
}