.Nav{
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    color: #b0452a;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Logo img{
    height: 10vh;
    margin-left: 5px;
}

.Links{
    color: #703c2b;
    display: flex;
    flex-direction: row;
    margin-right: 3px;
}

.Links p{
    color: #703c2b;
    margin: 5px;
}

.Links a{
    color: #703c2b;
    text-decoration: none;
}

.Links p:hover{
    color: #b0452a;
    text-decoration: underline;
}